@model mess_management.Models.TeacherAttendance

@{
    ViewData["Title"] = "Details";
    ViewData["HideBackButton"] = true;
}

<h1>Details</h1>

<div>
    <h4>TeacherAttendance</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Breakfast)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Breakfast)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lunch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lunch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dinner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dinner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MarkedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarkedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsVerified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsVerified)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VerificationNote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VerificationNote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VerifiedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VerifiedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teacher.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
